<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @cloud.post_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @cloud.tag_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cloud.image_id %>
</p>

<%= link_to 'Edit', edit_cloud_path(@cloud) %> |
<%= link_to 'Back', clouds_path %>
