Create a book by the year <%= params[:year] %>:

<form>
  <select name='year' onchange='this.form.submit()'>
    <option value="all">Select a year</option>
    <%= options_for_select(@unique_years, params[:year]) %>
  </select>
  <noscript><input type="submit" value="Submit"></noscript>
</form>

<% @posts_by_year.each do |post|%>
  <p>
    <%= post.date %>
    <%= post.text %>
    <% post.tag_list.each do |tags| %>
    <%= tags%>
  <% end %>
  </p>
<% end %>
