Create a book by the year <%= params[:year] %>:

<form>
  <select name='year' onchange='this.form.submit()'>
    <option value="all">Select a year</option>
    <%= options_for_select(@unique_years, params[:year]) %>
  </select>

   <select name='month' onchange='this.form.submit()'>
    <option value="all">Select a month</option>
    <%= options_for_select(@unique_months, params[:month]) %>
  </select>

  <noscript><input type="submit" value="Submit"></noscript>
</form>

<% @posts.each do |post|%>
  <p>
    <%= post.date %>
    <%= post.text %>
    <% post.tag_list.each do |tags| %>
    <%= tags%>
  <% end %>
  </p>
<% end %>
