<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<h1>Here you can search</h1>

<%= form_tag("/posts", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

 <% if @your_search != nil and @your_search.length > 0 %>
  <% @your_search.each do |your_search| %>
      <td><%= link_to 'Show', your_search %></td>
        <td><%= link_to 'Edit', edit_post_path(your_search) %></td>
        <td><%= link_to 'Destroy', your_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="/posts/<%=your_search.id%>"><%= your_search.text %></a></td>
        <td><%= your_search.date %></td>
  <% end %>
<% end %>


<%= link_to 'New Post', new_post_path %>


<form>
  <select name='year' onchange='this.form.submit()'>
    <option value="all">Select a year</option>
    <%= options_for_select(@unique_years, params[:year]) %>
  </select>

   <select name='month' onchange='this.form.submit()'>
    <option value="all">Select a month</option>
    <%= options_for_select(@unique_months, params[:month]) %>
  </select>

  <noscript><input type="submit" value="Submit"></noscript>
</form>

<table>
  <thead>
    <tr>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Post</th>
      <th>Date</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
      <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="/posts/<%=post.id%>"><%= post.text %></a></td>
        <td><%= post.date %></td>
        <% post.tag_list.each do |tag| %>
         <td><a href='/tags/<%= tag %>'> <%= tag%></a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
