<p id="notice"><%= notice %></p>

<h2 class="section_title">Posts</h2>


<form>
  <select name='year' onchange='this.form.submit()'>
    <option value="all">Select a year</option>
    <%= options_for_select(@unique_years, params[:year]) %>
  </select>

   <select name='month' onchange='this.form.submit()'>
    <option value="all">Select a month</option>
    <%= options_for_select(@unique_months, params[:month]) %>
  </select>

  <noscript><input type="submit" value="Submit"></noscript>
</form>

<table class="ui selectable celled table post_form">
  <thead>
    <tr>
      <th>Date</th>
      <th>Post</th>
      <th>Tags</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  
    <% if params[:tag]%>
    <tbody>
    <% @posts_taged.each do |post| %>
      <tr>
        <td><%= post.date %></td>
        <td><a href="/posts/<%=post.id%>"><%= post.text %></a></td>
        <td>
          <% post.tag_list.each do |tag| %>
          <a href='/tags/<%= tag %>'><%= tag%></a>
          <% end %>
        </td>
         <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><a href="/posts/<%=post.id%>"><%= post.text %></a></td>
        <td><%= post.date %></td>
        <td>
          <% post.tag_list.each do |tag| %>
          <a href='/tags/<%= tag %>'><%= tag%></a>
          <% end %>
        </td>
         <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>



<%= form_tag("/posts", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

 <% if @your_search != nil and @your_search.length > 0 %>
  <% @your_search.each do |your_search| %>
      <td><%= link_to 'Show', your_search %></td>
        <td><%= link_to 'Edit', edit_post_path(your_search) %></td>
        <td><%= link_to 'Destroy', your_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="/posts/<%=your_search.id%>"><%= your_search.text %></a></td>
        <td><%= your_search.date %></td>
  <% end %>
<% end %>
