<p id="notice"><%= notice %></p>

<h2 class="section_title">POSTS</h2>


<form>
  <select name='year' onchange='this.form.submit()'>
    <option value="all">Select a year</option>
    <%= options_for_select(@unique_years, params[:year]) %>
  </select>

   <select name='month' onchange='this.form.submit()'>
    <option value="all">Select a month</option>
    <%= options_for_select(@unique_months, params[:month]) %>
  </select>

  <noscript><input type="submit" value="Submit"></noscript>
</form>

<table class="ui selectable celled table" id="post_form">
  <thead>
    <tr>
      <th>Post</th>
      <th>Date</th>
      <th>Tags</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  
    <% if params[:tag]%>
    <tbody>
    <% @posts_taged.each do |post| %>
      <tr>
        <td id="td_text"><a href="/posts/<%=post.id%>"><%= post.text %></a></td>
        <td><%= post.date %></td>
        <td>
          <% post.tag_list.each do |tag| %>
          <a href='/tags/<%= tag %>'><%= tag%></a>
          <% end %>
        </td>
         <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><a href="/posts/<%=post.id%>"><%= post.text %></a></td>
        <td class="nobreak"><%= post.date.to_formatted_s(:long) %></td>
        <td class="nobreak">
          <% post.tag_list.each do |tag| %>
          <a href='/tags/<%= tag %>'><%= tag%></a>
          <% end %>
        </td>
         <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>


<div id="search_tag_form">
  <%= form_tag("/posts", method: "get", :class => 'search_form') do %>
    <%= label_tag(:q, "SEARCH POST:", :class => 'search_for') %>
    <%= text_field_tag(:q)%>
    <%= submit_tag("Search", :class => 'search_submit' ) %>
  <% end %>
</div>

 <% if @your_search != nil and @your_search.length > 0 %>
  <table class="ui selectable celled table" id="post_form">
    <thead>
      <tr>
        <th>Post</th>
        <th>Date</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @your_search.each do |your_search| %>
      <tr>
          <td><a href="/posts/<%=your_search.id%>"><%= your_search.text %></a></td>
          <td><%= your_search.date %></td>
          <td><%= link_to 'Show', your_search %></td>
          <td><%= link_to 'Edit', edit_post_path(your_search) %></td>
          <td><%= link_to 'Destroy', your_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  <% end %>

