<p id="notice"><%= notice %></p>
<div id="specific_post">
  <p id="post_text">
    <%= @post.text %>
  </p>

  <% if @post.uploads.length != 0 %>
    <p>
      <%@post.uploads.each do |image|%>
      <%= image_tag image, :class => 'post_image'%>
      <% end %>
    </p>
  <% end %>

  <p id="post_tags">
  Tags : <% @post.tag_list.each do |tag| %>
    <a href='/tags/<%= tag %>'> <%= tag%></a>
  <% end %>
  </p>

  <p id="post_date">
    <strong>Date:</strong>
    <%= @post.date %>
  </p>
</div>
<div class="functions">
  <%= link_to 'Edit', edit_post_path(@post), :class => 'edit' %> 
  <%= link_to 'Back', posts_path, :class => 'back' %>
</div>


