<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Happiness 😊 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
      <script type="text/javascript" src="turn.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans" rel="stylesheet">
  </head>
  <body id="section_page">
    <nav>
      <% if user_signed_in? %>
        <div class="ui massive menu" id="navbar">
          <a class="item section" href="/posts">POSTS</a>
          <a class="item section" href="/tags">TAGS</a>
          <a class="item section" href="/locations">MAP</a>
          <a class="item section" href="/gallery">GALLERY</a>
          <a class="item section" href="/book">BOOK</a>
          <a class="item section new_post" href="/posts/new">NEW POST</a>
        <div class="right menu">
          <div class="item">
              <div class="ui primary button" id="sign_out_layout"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, :class => 'sign_out' %></div>
          </div>
              <div class="item">
              <div class="ui primary button" id="edit_profile_layout"><%= link_to 'EDIT PROFILE', edit_user_registration_path, :class => 'edit_profile' %></div>
          </div>
          </div>
        </div>
        <a href="/"><img src="/image.png" class="every_page_heart"></a>

      <% end %>
  </nav>
  
    <%= yield %>
 
</html>
