<!DOCTYPE html>
<html>
  <head>
    <title>Happiness 😊 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="section_page">
 
    <nav>
      <% if user_signed_in? %>
        <h2 id="welcoming_signedin_user"> HI, <%= current_user.nickname%> </h2>
            <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, :class => 'sign_out' %>
            <%= link_to 'EDIT PROFILE', edit_user_registration_path, :class => 'edit_profile' %>
        <p><a href="/tags"> Tags </a></p>
        <p><a href="/posts"> Posts </a></p>
        <p><a href="/locations"> Locations </a></p>

      <h1>Here you can search</h1>
        <%= search_form_for @search do |f| %>
          <div class="field">
            <%= f.label :text_cont, "Text contains"%>
            <%= f.text_field :text_cont%>
          </div>
          <div class="actions"><%= f.submit "Search" %></div>
        <% end %>
      <% end %>
  </nav>
  
    <%= yield %>
 
</html>
