<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Happiness 😊 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
      <script type="text/javascript" src="turn.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans" rel="stylesheet">
  </head>
  <body id="section_page">
    <nav>
      <% if user_signed_in? %>
        <h2 id="welcoming_signedin_user"> HI, <%= current_user.nickname%> </h2>
            <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, :class => 'sign_out' %>
            <%= link_to 'EDIT PROFILE', edit_user_registration_path, :class => 'edit_profile' %>
        <p><a href="/tags"> Tags </a></p>
        <p><a href="/posts"> Posts </a></p>
        <p><a href="/locations"> Locations </a></p>
        <p><a href="/gallery"> Gallery </a></p>
        <p><a href="/book"> Book </a></p>

      <% end %>
  </nav>
  
    <%= yield %>
 
</html>
